<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
    <string>ca-app-pub-3940256099942544/2934735716</string>
    <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
    <string>ca-app-pub-3940256099942544/4411468910</string>
    <key>CLIENT_ID</key>
    <string>384663416977-52l36abiqqir32fvjcqd1frmla1lhae4.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.384663416977-52l36abiqqir32fvjcqd1frmla1lhae4</string>
    <key>API_KEY</key>
    <string>AIzaSyD-c33lnH0uUlHQx24A_fz4D4QY8iGbbNw</string>
    <key>GCM_SENDER_ID</key>
    <string>384663416977</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>io.mobile-academy.TDDWorkshop-Budapest</string>
    <key>PROJECT_ID</key>
    <string>swift-tdd-app-budapest</string>
    <key>STORAGE_BUCKET</key>
    <string>swift-tdd-app-budapest.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <true/>
    <key>IS_ANALYTICS_ENABLED</key>
    <false/>
    <key>IS_APPINVITE_ENABLED</key>
    <false/>
    <key>IS_GCM_ENABLED</key>
    <true/>
    <key>IS_SIGNIN_ENABLED</key>
    <true/>
    <key>GOOGLE_APP_ID</key>
    <string>1:384663416977:ios:3f097f3959788e45</string>
    <key>DATABASE_URL</key>
    <string>https://swift-tdd-app-budapest.firebaseio.com</string>
</dict>
</plist>
